<h1><%= @post.title %></h1>
<h3>By <%= @post.user.username %></h3>
<h5>on <%= @post.created_at.strftime("%b. %d, %Y") %></h5>
<br>

<div class="post_body">
  <p><%= @post.content %></p>
</div>
<p> Score: Up Votes[<%= @post.post_votes.where("upvote > 0").count %>], Down Votes[<%= @post.post_votes.where("downvote > 0").count %>] </p>
<div class="voting">
  <form action="/vote/<%=@post.id%>" method='post'>
    <button type="submit" value="Thumbs Up" name="vote" id="upvote">Thumbs Up</button>
    <button type="submit" value="Thumbs Down" name="vote" id="downvote">Thumbs Down</button>
  </form>
</div>
<hr>

<% if current_user%>
<div class="new_comment">
  <h3>Enter a comment</h3>
  <form action="/comment/<%= @post.id %>" method="post" id="new_comment">
    <textarea maxlength="350" form="new_comment" cols="50" rows="5" name="body"placeholder="No swearing please!"></textarea><br>
  <input type="submit" value="Submit">
  </form>
</div>
<% else %>
  <p><a href="/login">Login</a> to leave a comment.</p>
<% end %>

<h4>Past Comments</h4>
<div class="comments">
  <% @post.comments.each do |comment| %>
    <ul>
      <li><%= comment.body %><br> - <%= comment.user.username%> on <%= comment.created_at.strftime("%b. %d, %Y")%> </li>
    </ul>
  <% end %>
</div>