

<h2><%= @user_page.username  %></h2>

<div class="user_posts"  >
  <h3>Posts</h3>
    <% if  @posts.count > 0%>
      <% @posts.each do |post| %>
        <ul>
          <li><a href="/post/<%=post.id%>" ><%=post.title %></a></li>
        </ul>
      <% end %>
    <% else %>
      <p>Has no posts.</p>
  <% end %>
</div>

<div class="user_comments"  >
  <h3>Comments</h3>
    <% if  @comments.count > 0%>
      <% @comments.each do |comment| %>
        <ul>
          <li><a href="/post/<%=comment.post.id%>" ><%=comment.body %></a></li>
        </ul>
      <% end %>
    <% else %>
      <p>Has no comments.</p>
  <% end %>
</div>
